<button (click)="addBook()">Add</button>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th></th>
    </tr>
    @for(book of books; track $index){
        <tr>
            <ng-container [ngTemplateOutlet]="loadTemplate(book)" [ngTemplateOutletContext]="{ $implicit: book}">
            </ng-container>           
        </tr>
    }
</table>
<div>{{statusMessage}}</div>         
<!---->
<ng-template #readOnlyTemplate let-book>
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>
        <button (click)="editBook(book)">Edit</button> 
        <button (click)="deleteBook(book)">Delete</button>
    </td>
</ng-template>    
<!---->
<ng-template #editTemplate>
    <td>
        <input [(ngModel)]="editedBook.id" readonly disabled />
    </td>
    <td>
        <input [(ngModel)]="editedBook.title" />
    </td>
    <td>
        <input  [(ngModel)]="editedBook.author" />
    </td>
    <td>
        <button (click)="saveBook()">Save</button>
        <button (click)="cancel()">Cancel</button>
    </td>
</ng-template>
